al-starter-kit-hYCe8p3gITCaHTJ6.json
{"createdAt":"2025-01-07T17:39:39.120Z","updatedAt":"2025-01-12T00:56:24.000Z","id":"hYCe8p3gITCaHTJ6","name":"Al Starter Kit","active":true,"nodes":[{"parameters":{"model":"llama3.1:latest","options":{}},"id":"f8ac641d-a1eb-443c-8e21-0c80eedb77b4","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[580,120],"credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"8c75665a-2328-4dc7-8938-f934fc593c3a","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1620,60],"credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"name":"documents","topK":3},"id":"468b0cc5-5a1a-4c38-9791-5d4fe3738668","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1400,-100]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"ec594c70-4b8d-4905-842a-7f6e6dd769c2","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1300,180],"credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1H3RGz8mxwu8AO1eIdEBctsQYbWiAWzs4","mode":"list","cachedResultName":"n8n_sample","cachedResultUrl":"https://drive.google.com/drive/folders/1H3RGz8mxwu8AO1eIdEBctsQYbWiAWzs4"},"event":"fileCreated","options":{}},"id":"4a18206a-11fd-40cd-9ab9-4d931540a6b0","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[260,440],"credentials":{"googleDriveOAuth2Api":{"id":"1IPrSFvyhRd21yn1","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1H3RGz8mxwu8AO1eIdEBctsQYbWiAWzs4","mode":"list","cachedResultName":"n8n_sample","cachedResultUrl":"https://drive.google.com/drive/folders/1H3RGz8mxwu8AO1eIdEBctsQYbWiAWzs4"},"event":"fileUpdated","options":{}},"id":"1edbc537-64fc-49a1-a184-c8fd6c0f3491","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[260,660],"credentials":{"googleDriveOAuth2Api":{"id":"1IPrSFvyhRd21yn1","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"0a8e4284-ff0d-4e86-9f66-1b4ff974014b","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,440]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5e8905d5-2153-4eb1-a486-2d9ba01a7ef4","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[960,440],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1IPrSFvyhRd21yn1","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"f2b98c09-f2fe-4466-8c11-3b4fcf355d16","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1200,440],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"4f0da494-46e7-449c-8529-d02e7c518f8c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1520,660]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"46fe4831-8394-49f3-ad5d-66a79711092f","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1520,880]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"a588d895-28b9-47fd-95ed-ea73d4455643","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1360,660],"credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"1080b775-1eeb-4c2a-b9f3-80147e044a82","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,-220]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"47b2b58f-a2ba-465d-b2d1-f27e3575e9ae","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,-220]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"4145ea3e-c7fd-4bd1-9f96-55cd9a3b4199","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,320]},{"parameters":{"options":{}},"id":"e1bc31a0-0c19-4a77-8c97-88f957463be1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[280,-100],"webhookId":"4b3b1838-d6b3-447e-9d79-d0931eddb9f8"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"searchFilterJson":"{\n  \"should\": [\n    {\n      \"key\": \"metadata.batch\",\n      \"match\": {\n        \"value\": 12345\n      }\n    }\n  ]\n}"}},"id":"bff89c4e-8014-4a22-9fe5-794389408c5e","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1220,40],"credentials":{"qdrantApi":{"id":"jGKiZsQWnkxJwzXV","name":"QdrantApi account"}}},{"parameters":{"code":{"execute":{"code":"const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://100.98.1.29:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://192.168.2.15:6333\",\n    collectionName: \"documents\",\n    apiKey: \"Y3NMMGK3Okzt7rzho88jhmzPZl5MhmAtwFbLG4OJPGRtNV7pH8sOlVNtveGcejEl\"\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"e4e199d6-8376-44a3-9aed-7a2b4c1df6db","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[740,440],"alwaysOutputData":false},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"dd6b5c5c-2ce4-4548-bdd7-e8c5e24e2c69","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1420,440],"credentials":{"qdrantApi":{"id":"jGKiZsQWnkxJwzXV","name":"QdrantApi account"}}},{"parameters":{"options":{}},"id":"52867fd9-b2ee-4e0b-ad27-508c336d7776","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,-100]},{"parameters":{"httpMethod":"POST","path":"invoke_n8n_agent","responseMode":"responseNode","options":{}},"id":"b12c103c-697b-40fd-9d73-d0d584de5787","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[280,80],"webhookId":"4a839da9-b8a2-45f8-bcaf-c484f9a5912d"},{"parameters":{"options":{"systemMessage":"1. **Role and Objective:**\n   - You are a retrieval-augmented AI assistant designed to provide accurate, detailed, and context-specific answers to user queries by combining retrieved information from a knowledge base (or external sources) with generated responses.\n\n2. **Input Requirements:**\n   - Always expect input to include a query or task description.\n   - If the query specifies a context or domain, prioritize retrieving relevant information from that domain.\n   - If no context is provided, retrieve general information relevant to the question.\n\n3. **Retrieval Guidelines:**\n   - Search the database or external sources for relevant content and summarize key points.\n   - Use up to 3-5 highly relevant pieces of information from the retrieval process to construct your response.\n   - If retrieval fails to produce results, clearly indicate the lack of available data.\n\n4. **Generation Guidelines:**\n   - Use the retrieved content to generate a coherent, informative, and context-sensitive response.\n   - Fill in gaps using general knowledge only when necessary and ensure consistency with retrieved information.\n   - Provide examples, step-by-step explanations, or diagrams if the user requests detailed guidance.\n\n5. **Output Format:**\n   - Start with a direct answer or summary for clarity.\n   - Follow up with details, explanations, and additional insights if the query demands.\n   - For longer responses, organize content into headings, bullet points, or numbered lists for readability.\n\n6. **Tone and Style:**\n   - Maintain a professional and educational tone.\n   - Adapt your language to the user’s level of expertise—simple for beginners, technical for experts.\n   - Be concise but ensure completeness in addressing the query.\n\n7. **Fallback Behavior:**\n   - If no relevant information is found in the retrieval step:\n     - Generate a response indicating that data retrieval failed and suggest possible next steps (e.g., refining the query or consulting a specific resource).\n     - Optionally, provide general advice or related knowledge from your training data.\n\n8. **Ethical Considerations:**\n   - Avoid fabricating data, even when retrieval fails.\n   - Clearly cite the source of retrieved content if applicable or explicitly state when the response is based on general knowledge.\n\n---"}},"id":"8c3ced62-3091-491e-89c2-7f75fc55ff45","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[660,-100]},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"9f9da512-031e-4778-95b5-95a7898f6534","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,-100]},{"parameters":{"content":"## Reference \nhttps://youtu.be/V_0dNE-H2gw?si=mpmGLOHOEpBbdT5M"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,0],"id":"fc349004-7fc9-4a39-8e4e-1e8267e578d2","name":"Sticky Note3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[880,160],"id":"664afae4-66c3-49ad-be74-63f3bbe2d70b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Jt3gU7h6gC46cZ5p","name":"Postgres account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[740,160],"id":"dadb316e-ee27-4698-bb2b-fbe49b0ee334","name":"Window Buffer Memory"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store Insert":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-01-12T00:56:24Z"},"node:File Updated":{"lastTimeChecked":"2025-01-12T00:56:24Z"}},"meta":null,"pinData":{},"versionId":"7b26d955-d9ea-43ed-a445-172e95b11a6d","triggerCount":5,"tags":[{"createdAt":"2025-01-07T17:35:09.191Z","updatedAt":"2025-01-07T17:35:09.191Z","id":"2HxHzZ7viWz3c99p","name":"test"}]}