ask-questions-about-a-pdf-using-ai-KtGIkunhoku44y6c.json
{"createdAt":"2025-04-05T15:09:05.510Z","updatedAt":"2025-04-05T15:09:05.510Z","id":"KtGIkunhoku44y6c","name":"Ask questions about a PDF using AI","active":false,"nodes":[{"parameters":{"content":"### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index","height":627,"width":918,"color":7},"id":"b34115e3-98b0-4053-9b46-1a3f42253ba9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-300,-160],"typeVersion":1},{"parameters":{"content":"### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ","height":627,"width":534,"color":7},"id":"2693fd15-a825-4ddc-8ecb-2f5f9a4b91bc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[880,-160],"typeVersion":1},{"parameters":{"content":"## Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in *both* Pinecone nodes\n2. Click 'test workflow' at the bottom of the canvas to load data into the vector store\n3. Click 'chat' at the bottom of the canvas to ask questions about the data","height":264.61498034081166},"id":"aca7a563-585d-413e-a37b-b662f78b798e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-580,200],"typeVersion":1},{"parameters":{},"id":"c9676e64-fcac-4b66-81d1-03c8f7176c05","name":"When clicking 'Test Workflow' button","type":"n8n-nodes-base.manualTrigger","position":[-560,-60],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"id","value":"test-index"},"options":{"clearNamespace":true}},"id":"539e70ec-dc72-4089-a69e-76b7d88da5ba","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[220,-60],"typeVersion":1},{"parameters":{"options":{}},"id":"bc5077fa-ef58-4963-9bce-61f203ee1e10","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[700,-60],"webhookId":"dec328cc-f47e-4727-b1c5-7370be86a958","typeVersion":1.1},{"parameters":{},"id":"4192a203-415d-40ae-9eba-99f243a16c01","name":"Question & Answer","type":"@n8n/n8n-nodes-langchain.agent","position":[940,-60],"typeVersion":1.8},{"parameters":{"assignments":{"assignments":[{"id":"d08ef1f5-932b-4bbb-bb02-0cbdff26a636","name":"file_url","type":"string","value":"https://drive.google.com/file/d/11Koq9q53nkk0F5Y8eZgaWJUVR03I4-MM/view"}]},"options":{}},"id":"b10cddf4-3d96-4cf8-b156-cf8759ffb5e6","name":"Set Google Drive file URL","type":"n8n-nodes-base.set","position":[-240,-60],"typeVersion":3.4},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.file_url }}"},"options":{}},"id":"01dc9296-d04e-4218-b516-541dfbf24b22","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[-40,-60],"typeVersion":3},{"parameters":{"dataType":"binary","options":{}},"id":"4929ea27-4ef7-40fb-a791-b8ab6fb687d9","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[320,160],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"1d86c939-1596-4f1f-b2f0-0a53ab526a6d","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[400,280],"typeVersion":1},{"parameters":{},"id":"96da3f68-6c50-4231-b1d0-b10de3a26f4e","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1140,280],"typeVersion":1.2,"credentials":{}},{"parameters":{},"id":"636f2901-5046-40eb-871b-2e5f4bd6fcf4","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[200,160],"typeVersion":1.2,"credentials":{}},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"id","value":"test-index"}},"id":"3509575e-8adf-42c1-afa1-2075f1c9984c","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[1060,160],"typeVersion":1},{"parameters":{},"id":"18dbf1b2-b92f-44e6-a57d-ebb756c99b3d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[940,160],"typeVersion":1.2,"credentials":{}}],"connections":{"Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Set Google Drive file URL":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking 'Test Workflow' button":{"main":[[{"node":"Set Google Drive file URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"13b498c1-9f73-42ae-8306-736bb5a44309","triggerCount":0,"tags":[]}