generate-&-auto-post-ai-videos-to-social-media-with-veo3-and-blotato-1k9NKNPPgBcHRh70.json
{"createdAt":"2025-07-03T11:38:02.130Z","updatedAt":"2025-07-03T11:38:02.130Z","id":"1k9NKNPPgBcHRh70","name":"Generate & Auto-post AI Videos to Social Media with Veo3 and Blotato","active":false,"nodes":[{"parameters":{"content":"# ✅ STEP 1 — Generate Script & Prompt with AI","height":500,"width":1200},"id":"927bc153-6c03-4564-a18e-6ecf7f07cce5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# ✅ STEP 2 — Create Video Using Veo3\n\n","height":280,"width":1200,"color":3},"id":"6fcf689b-8975-4731-ab0a-fd960dbd5c3a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,540],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"instagram_id\": \"1111\",\n  \"youtube_id\": \"1111\",\n  \"threads_id\": \"1111\",\n  \"tiktok_id\": \"1111\",\n  \"facebook_id\": \"1111\",\n  \"facebook_page_id\": \"1111\",\n  \"twitter_id\": \"1111\",\n  \"linkedin_id\": \"1111\",\n  \"pinterest_id\": \"1111\",\n  \"pinterest_board_id\": \"1111\",\n  \"bluesky_id\": \"1111\"\n}\n","options":{}},"id":"69ec83c4-37c9-45fe-9d31-9c7af4f4854b","name":"Assign Social Media IDs","type":"n8n-nodes-base.set","position":[80,1200],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"options":{}},"id":"bbf0db60-8bfc-40bb-a055-5036a5d106b5","name":"Get my video","type":"n8n-nodes-base.googleSheets","position":[180,960],"typeVersion":4.5},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get my video').item.json['final_output'] }}"}]},"options":{}},"id":"7ad30184-59df-4951-a272-18b5c1e0c31b","name":"Upload Video to Blotato","type":"n8n-nodes-base.httpRequest","position":[300,1200],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.instagram_id }}\",\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n\n","options":{}},"id":"85ba7d23-e103-4c3e-ace3-38fe4d3e9bf3","name":"INSTAGRAM","type":"n8n-nodes-base.httpRequest","position":[580,960],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.youtube_id }}\",\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get my video').item.json.Titre }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": \"false\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"851c0d97-b2b0-451c-b482-598d21b3b689","name":"YOUTUBE","type":"n8n-nodes-base.httpRequest","position":[800,960],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"=YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.tiktok_id }}\",\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": \"false\", \n      \"disabledDuet\": \"false\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": \"true\",\n      \"disabledStitch\": \"false\",\n      \"disabledComments\": \"false\",\n      \"isBrandedContent\": \"false\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"d9d7bf2d-27b1-4454-a10f-d51f2cb002ad","name":"TIKTOK","type":"n8n-nodes-base.httpRequest","position":[1000,960],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"=YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.facebook_id }}\",\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Assign Social Media IDs').item.json.facebook_page_id }}\"\n\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}","options":{}},"id":"d5daae4b-0e1f-4a47-abf2-b72204060627","name":"FACEBOOK","type":"n8n-nodes-base.httpRequest","position":[580,1200],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.threads_id }}\",\n    \"target\": {\n      \"targetType\": \"threads\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"869f6459-a9d8-4903-a88d-f022dfd28c1d","name":"THREADS","type":"n8n-nodes-base.httpRequest","position":[800,1200],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.twitter_id }}\",\n    \"target\": {\n      \"targetType\": \"twitter\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"6aefeecf-e430-4567-9766-945d3753df82","name":"TWETTER","type":"n8n-nodes-base.httpRequest","position":[1000,1200],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.linkedin_id }}\",\n    \"target\": {\n      \"targetType\": \"linkedin\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"c80d8e81-42a0-40e0-8bca-9c6177625044","name":"LINKEDIN","type":"n8n-nodes-base.httpRequest","position":[580,1440],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.bluesky_id }}\",\n    \"target\": {\n      \"targetType\": \"bluesky\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"caccb442-9dec-438d-86bf-2b1571fbdbab","name":"BLUESKY","type":"n8n-nodes-base.httpRequest","position":[800,1440],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_id }}\",\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_board_id }}\"      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n\n","options":{}},"id":"425c0316-71f7-475a-accf-7c07299a6c65","name":"PINTEREST","type":"n8n-nodes-base.httpRequest","position":[1000,1440],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"STATUS":"Publish","row_number":"={{ $('Get my video').item.json.row_number }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DESCRIPTION","type":"string","display":true,"required":false,"displayName":"DESCRIPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"URL VIDEO","type":"string","display":true,"required":false,"displayName":"URL VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Titre","type":"string","display":true,"required":false,"displayName":"Titre","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0ad3301e-a8eb-4584-90b1-65a635a2693b","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[300,1440],"typeVersion":4.5},{"parameters":{"content":"# ✅ STEP 3 — Publish Video to Social Media\n","height":760,"width":1200,"color":4},"id":"10d87acc-d190-4767-a459-a5978a0b8d4d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,860],"typeVersion":1},{"parameters":{"rule":{"interval":[{}]}},"id":"4e5fa809-032d-4bb6-87ca-9b6d9a3966a5","name":"Trigger: Run Daily Script Generator","type":"n8n-nodes-base.scheduleTrigger","position":[160,80],"typeVersion":1.2},{"parameters":{},"id":"b3bf1f3f-9b52-4681-b267-6c78a64259f0","name":"AI Agent: Generate Video Concept","type":"@n8n/n8n-nodes-langchain.agent","position":[320,80],"typeVersion":1.9},{"parameters":{},"id":"ceb20c98-043c-49cd-94e9-5491e00aabe3","name":"Tool: Inject Creativity","type":"@n8n/n8n-nodes-langchain.toolThink","position":[400,340],"typeVersion":1},{"parameters":{},"id":"512d831a-6689-4c97-a5db-0f31407e2d6c","name":"LLM: Generate Idea & Caption (GPT-4.1)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[240,340],"typeVersion":1.2,"credentials":{}},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Status\": \"for production\"\n  }\n]\n"},"id":"04bdabe1-c2a0-4dfe-91b6-343b4169c3a7","name":"Parser: Extract JSON from Idea","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[560,340],"typeVersion":1.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"id":"==ROW()-1","idea":"={{ $json.output[0].Idea }}","caption":"={{ $json.output[0].Caption }}","production":"={{ $json.output[0].Status }}","environment_prompt":"={{ $json.output[0].Environment }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"idea","type":"string","display":true,"required":false,"displayName":"idea","defaultMatch":false,"canBeUsedToMatch":true},{"id":"caption","type":"string","display":true,"required":false,"displayName":"caption","defaultMatch":false,"canBeUsedToMatch":true},{"id":"production","type":"string","display":true,"required":false,"displayName":"production","defaultMatch":false,"canBeUsedToMatch":true},{"id":"environment_prompt","type":"string","display":true,"required":false,"displayName":"environment_prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_output","type":"string","display":true,"required":false,"displayName":"final_output","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0835019c-c2a0-4716-b36a-1e5d3d1849ea","name":"Google Sheets: Save Script Idea","type":"n8n-nodes-base.googleSheets","position":[680,80],"typeVersion":4.5},{"parameters":{},"id":"eccd5fd7-6dbb-4214-a97f-196ac3f1ca8e","name":"AI Agent: Create Veo3-Compatible Prompt","type":"@n8n/n8n-nodes-langchain.agent","position":[840,80],"typeVersion":1.9},{"parameters":{},"id":"5530f262-2b8f-415d-89f0-fbbf91961dce","name":"Tool: Build Prompt Structure","type":"@n8n/n8n-nodes-langchain.toolThink","position":[1040,340],"typeVersion":1},{"parameters":{},"id":"f9bf08bb-5ca5-4f8f-a729-a1c86e6ca531","name":"LLM: Format Prompt for Veo3 (GPT-4.1)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[860,340],"typeVersion":1.2,"credentials":{}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={ \"prompt\": \"{{ $json.output }}\" }\n","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"id":"00a82568-e365-424c-ba13-da6bafbd2b3e","name":"Call Veo3 API to Generate Video","type":"n8n-nodes-base.httpRequest","position":[180,620],"typeVersion":4.2},{"parameters":{},"id":"d5835c3e-8a8c-4ae9-b8d1-cc8b89ad3f49","name":"Wait for Veo3 Processing (5 mins)","type":"n8n-nodes-base.wait","position":[400,620],"webhookId":"861e2761-369b-407b-9e88-1b176e617cd8","typeVersion":1.1},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"1fa0232b-ce44-4d2b-ae2d-9fc485cd0271","name":"Retrieve Final Video URL from Veo3","type":"n8n-nodes-base.httpRequest","position":[680,620],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"idea":"={{ $('Google Sheets: Save Script Idea').first().json.idea }}","production":"done","final_output":"={{ $json.video.url }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"idea","type":"string","display":true,"removed":false,"required":false,"displayName":"idea","defaultMatch":false,"canBeUsedToMatch":true},{"id":"caption","type":"string","display":true,"required":false,"displayName":"caption","defaultMatch":false,"canBeUsedToMatch":true},{"id":"production","type":"string","display":true,"required":false,"displayName":"production","defaultMatch":false,"canBeUsedToMatch":true},{"id":"environment_prompt","type":"string","display":true,"required":false,"displayName":"environment_prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_output","type":"string","display":true,"required":false,"displayName":"final_output","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["idea"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"63d4d45d-deb1-4290-bfe0-d276cd5e987b","name":"Google Sheets: Log Final Video Output","type":"n8n-nodes-base.googleSheets","position":[1000,620],"typeVersion":4.5}],"connections":{"Get my video":{"main":[[{"node":"Assign Social Media IDs","type":"main","index":0}]]},"Assign Social Media IDs":{"main":[[{"node":"Upload Video to Blotato","type":"main","index":0}]]},"Upload Video to Blotato":{"main":[[{"node":"INSTAGRAM","type":"main","index":0},{"node":"YOUTUBE","type":"main","index":0},{"node":"TIKTOK","type":"main","index":0},{"node":"FACEBOOK","type":"main","index":0},{"node":"THREADS","type":"main","index":0},{"node":"TWETTER","type":"main","index":0},{"node":"LINKEDIN","type":"main","index":0},{"node":"BLUESKY","type":"main","index":0},{"node":"PINTEREST","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Call Veo3 API to Generate Video":{"main":[[{"node":"Wait for Veo3 Processing (5 mins)","type":"main","index":0}]]},"Wait for Veo3 Processing (5 mins)":{"main":[[{"node":"Retrieve Final Video URL from Veo3","type":"main","index":0}]]},"Retrieve Final Video URL from Veo3":{"main":[[{"node":"Google Sheets: Log Final Video Output","type":"main","index":0}]]},"Google Sheets: Log Final Video Output":{"main":[[{"node":"Get my video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cf1fe165-a6e3-4e3d-b622-95eeecf30476","triggerCount":0,"tags":[]}