generate-ai-videos-with-google-veo3,-save-to-google-drive-and-upload-to-youtube-6vlA4iOW8b3cLOp7.json
{"createdAt":"2025-07-03T11:39:22.849Z","updatedAt":"2025-07-03T11:39:22.849Z","id":"6vlA4iOW8b3cLOp7","name":"Generate AI Videos with Google Veo3, Save to Google Drive and Upload to YouTube","active":false,"nodes":[{"parameters":{},"id":"fbe42300-bbe6-4488-a1b3-03045bc41bbf","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,1300],"typeVersion":1},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Create Video').item.json.request_id }}/status ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"6dbfa68d-feb9-4fbd-8c72-0b9412af9723","name":"Get status","type":"n8n-nodes-base.httpRequest","position":[1060,1300],"typeVersion":4.2},{"parameters":{"amount":60},"id":"44ea6cff-05ed-488c-b7e2-f890d3385d04","name":"Wait 60 sec.","type":"n8n-nodes-base.wait","position":[880,1300],"webhookId":"490facb8-d0ae-402e-ab59-a87720cf0bdd","typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"91b6edbc-f809-4525-9f26-ca82b5962387","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[0,1160],"typeVersion":1.2},{"parameters":{"content":"# Generate AI Videos with Google Veo3, Save to Google Drive and Upload to YouTube\n\nThis workflow allows users to **generate AI videos** using **Google Veo3**, save them to **Google Drive**, generate optimized YouTube titles with GPT-4o, and **automatically upload them to YouTube** . The entire process is triggered from a Google Sheet that acts as the central interface for input and output.\n\nIT automates video creation, uploading, and tracking, ensuring seamless integration between Google Sheets, Google Drive, Google Veo3, and YouTube.\n\n\n\n\n","height":280,"width":740,"color":3},"id":"7aefb499-d385-42e8-9fa2-a140a74a5da3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## STEP 1 - GOOGLE SHEET\nCreate a [Google Sheet like this](https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=sharing).\n\nPlease insert:\n- in the \"PROMPT\" column the accurate description of the video you want to create\n- in the \"DURATION\" column the lenght of the video you want to create\n\nLeave the \"VIDEO\" column unfilled. It will be inserted by the system once the video has been created","height":200,"width":740},"id":"a1bf1b1d-dab9-41f9-9ccd-6694e4deb09a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"383d112e-2cc6-4dd4-8985-f09ce0bd1781","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"COMPLETED"}]},"options":{}},"id":"d960b47d-845c-4194-b114-16ca3406ca77","name":"Completed?","type":"n8n-nodes-base.if","position":[1240,1300],"typeVersion":2.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"={{ $('Get Url Video').item.json.video.url }}","row_number":"={{ $('Get new video').item.json.row_number }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"27c62f2d-dacd-4719-9490-c442d45be752","name":"Update result","type":"n8n-nodes-base.googleSheets","position":[1080,1560],"typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"c713d31f-9abd-496a-ac79-e8e2efe60aa0","name":"prompt","type":"string","value":"={{ $json.PROMPT }}\n\nDuration of the video: {{ $json.DURATION }}"}]},"options":{}},"id":"ddac6eac-42f3-4676-906f-0252f88d6a8e","name":"Set data","type":"n8n-nodes-base.set","position":[440,1300],"typeVersion":3.4},{"parameters":{"content":"## STEP 4 - MAIN FLOW\nStart the workflow manually or periodically by hooking the \"Schedule Trigger\" node. It is recommended to set it at 5 minute intervals.","height":100,"width":740},"id":"cde8e82f-790c-4eed-b82d-293026e03eeb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,980],"typeVersion":1},{"parameters":{"content":"## STEP 2 - GET API KEY (YOURAPIKEY)\nCreate an account [here](https://fal.ai/) and obtain API KEY.\nIn the node \"Create Image\" set \"Header Auth\" and set:\n- Name: \"Authorization\"\n- Value: \"Key YOURAPIKEY\"","height":140,"width":740},"id":"ff8899b1-5362-47a4-a9c2-aaa3445d1f7d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,560],"typeVersion":1},{"parameters":{"content":"Set API Key created in Step 2","height":200,"width":180},"id":"8cbe8a54-f846-4448-8c14-7c71037b23cb","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[620,1240],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit#gid=0","cachedResultName":"Foglio1"},"filtersUI":{"values":[{"lookupColumn":"VIDEO"}]},"options":{}},"id":"0ace9345-7028-4df0-9db9-ec0e99794ae6","name":"Get new video","type":"n8n-nodes-base.googleSheets","position":[220,1300],"typeVersion":4.5},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n     \"prompt\": \"{{$json.prompt}}\"\n}","options":{}},"id":"70e8dced-a719-436f-ae55-7354ed806c24","name":"Create Video","type":"n8n-nodes-base.httpRequest","position":[660,1300],"typeVersion":4.2},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"23907128-0965-4996-988b-3ee93324662d","name":"Get Url Video","type":"n8n-nodes-base.httpRequest","position":[0,1680],"typeVersion":4.2},{"parameters":{"url":"={{ $('Get Url Video').item.json.video.url }}","options":{}},"id":"a6408b0d-3613-4290-90c0-58f59e57944d","name":"Get File Video","type":"n8n-nodes-base.httpRequest","position":[620,1680],"typeVersion":4.2},{"parameters":{"name":"={{ $now.format('yyyyLLddHHmmss') }}-{{ $('Get Url Video').item.json.video.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultUrl":"https://drive.google.com/drive/folders/1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultName":"Fal.run"},"options":{}},"id":"a9184ce9-62d9-476a-99b1-598afac09f54","name":"Upload Video","type":"n8n-nodes-base.googleDrive","position":[900,1560],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Generate title').item.json.message.content }}"},{"name":"user","value":"YOUR_USERNAME"},{"name":"platform[]","value":"youtube"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"data"}]},"options":{}},"id":"f059da83-df11-423d-824c-a3b9fc56fdc7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[900,1780],"typeVersion":4.2},{"parameters":{},"id":"676d1fe5-e7a6-4197-98f3-2fd8252c1a08","name":"Generate title","type":"@n8n/n8n-nodes-langchain.openAi","position":[240,1680],"typeVersion":1.8,"credentials":{}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"=","row_number":"={{ $('Get new video').item.json.row_number }}","YOUTUBE_URL":"https://youtu.be/{{ $json.results.youtube.video_id }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4cdf3ede-84ad-4aa2-b32e-0eb3525598df","name":"Update Youtube URL","type":"n8n-nodes-base.googleSheets","position":[1080,1780],"typeVersion":4.5},{"parameters":{"content":"Set YOUR_USERNAME in Step 3","height":200,"width":180},"id":"739a0b5e-3d74-4fba-8195-bf134864a0cb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[880,1720],"typeVersion":1},{"parameters":{"content":"## STEP 3 - Upload video on Youtube\n- Find your API key in your [Upload-Post Manage Api Keys](https://app.upload-post.com/) 10 FREE uploads per month\n- Set the the \"Auth Header\":\n-- Name: Authorization\n-- Value: Apikey YOUR_API_KEY_HERE\n- Create profiles to manage your social media accounts. The \"Profile\" you choose will be used in the field YOUR_USRNAME (eg. test1 or test2).  ","height":200,"width":740},"id":"8d2e165b-1598-4cf2-a35d-d713854b3b96","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,740],"typeVersion":1}],"connections":{"Set data":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Get Url Video","type":"main","index":0}],[{"node":"Wait 60 sec.","type":"main","index":0}]]},"Get status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait 60 sec.","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update Youtube URL","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Update result","type":"main","index":0}]]},"Wait 60 sec.":{"main":[[{"node":"Get status","type":"main","index":0}]]},"Get new video":{"main":[[{"node":"Set data","type":"main","index":0}]]},"Get File Video":{"main":[[{"node":"Upload Video","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get new video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f42d6563-f16e-41ef-a298-b9a950ca3289","triggerCount":0,"tags":[]}