my-workflow-fcrifH6FhyyNn84t.json
{"createdAt":"2025-12-23T16:40:52.365Z","updatedAt":"2025-12-23T16:40:52.365Z","id":"fcrifH6FhyyNn84t","name":"My workflow","active":false,"nodes":[{"parameters":{"content":"## ... now let's schedule it ⏰\n\n1. Double-click “Schedule” to set when it runs\n\n2. Connect your Gmail and set the recepient\n\n3. To test, click “Execute workflow” on \nthe \"Schedule\" node","height":208,"width":1072,"color":7},"id":"a56a6065-185e-4067-8342-ceb8615b6c4e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[80,540],"typeVersion":1},{"parameters":{"content":"","height":208,"width":230,"color":3},"id":"8255bafd-3e52-45b8-864c-51b902033012","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1140,540],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"685037e5-b88a-46fe-951f-580fe4af7e1f","name":"Schedule me here","type":"n8n-nodes-base.scheduleTrigger","position":[520,580],"notesInFlow":true,"typeVersion":1.2,"notes":"Double-click to set!"},{"parameters":{"assignments":{"assignments":[{"id":"fa43a283-e401-46e3-bf3c-9cc7fb7dae2f","name":"quote","type":"string","value":"={{ $json.q }}"},{"id":"c16964d2-b6a6-40d4-a4d2-bef0760d0d26","name":"author","type":"string","value":"={{ $json.a }}"}]},"options":{}},"id":"b02e378d-4a59-4a46-9017-a37df6e72217","name":"Results","type":"n8n-nodes-base.set","position":[980,580],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"7adde55e-e025-42af-afd2-0edcd19d5f95","name":"Get quote","type":"n8n-nodes-base.httpRequest","position":[740,580],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"subject":"Daily quote","emailType":"text","message":"=Hey,\n\nHere's a quote by {{ $json.author }}:\n\n\"{{ $json.quote }}\"","options":{}},"id":"6e3152ec-c9fb-4925-9d18-415003c74b8c","name":"Connect your Gmail","type":"n8n-nodes-base.gmail","position":[1200,580],"webhookId":"83a06a0c-4824-44ea-b593-18917e1b3fe4","notesInFlow":true,"typeVersion":2.1,"notes":"Double-click here to connect!"},{"parameters":{"content":"","height":208,"width":198,"color":3},"id":"b765fc02-d957-41d2-b0db-69a5bbd637c5","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[600,660],"typeVersion":1},{"parameters":{"content":"## 🚀🚀 Start here 🚀🚀\n\n1. Click “Execute workflow” to run it\n\n2. This gets a random quote from the internet\n\n3. Double-click the last node to check what\nquote you got\n","height":208,"width":1088,"color":7},"id":"a26346fe-7367-4469-9c2d-6ffb7c35a157","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[80,-80],"typeVersion":1},{"parameters":{},"id":"1d24aa30-0905-4718-859e-919edd0dc1a0","name":"1. Click 'Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[500,-60],"notesInFlow":false,"typeVersion":1,"notes":"\n"},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"e0e95daf-6d3b-4420-a3da-56bc7bddde9f","name":"2. Get inspirational quote from the internet","type":"n8n-nodes-base.httpRequest","position":[720,-60],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"fa43a283-e401-46e3-bf3c-9cc7fb7dae2f","name":"quote","type":"string","value":"={{ $json.q }}"},{"id":"c16964d2-b6a6-40d4-a4d2-bef0760d0d26","name":"author","type":"string","value":"={{ $json.a }}"}]},"options":{}},"id":"89174717-7e09-40fb-be11-eff7d31f319a","name":"3. See the resutls","type":"n8n-nodes-base.set","position":[960,-60],"notesInFlow":true,"typeVersion":3.4,"notes":"Double-click to open!"},{"parameters":{"content":"","height":208,"width":198,"color":3},"id":"a7fedb9f-4dd3-4649-95a2-fe54b14ff455","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[540,0],"typeVersion":1},{"parameters":{"content":"## ❓ How about a joke...\n\n1. Execute this workflow\n\n2. Check out the new \"Programming Joke\"\n\n3. Try mapping the new results and add them to\nyour email","height":224,"width":1520,"color":7},"id":"0da3e8ef-e76b-4009-9185-076d82660947","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[100,1140],"typeVersion":1},{"parameters":{"content":"","height":224,"width":198,"color":3},"id":"f50eec8a-9235-4f54-aee2-7e03c6c62ad4","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1180,1140],"typeVersion":1},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"36de0779-5e5a-4239-9f00-bacabb518162","name":"Quote","type":"n8n-nodes-base.httpRequest","position":[780,1200],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":12,"triggerAtHour":6}]}},"id":"0af89c02-4639-47f1-ae7b-7f6c31e3f5da","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[540,1200],"notesInFlow":true,"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"57322775-a00d-47f5-9424-3188ca2e46e6","name":"author","type":"string","value":"="},{"id":"1b141196-bc29-49d9-9e10-78bf17975cee","name":"quote","type":"string","value":"="},{"id":"b33e5122-1419-4bae-bfd5-0d5fb22a95f2","name":"joke","type":"string","value":"="}]},"options":{}},"id":"2073e9c5-9a7c-4980-bddd-fd899b2c1e8b","name":"Map the fields","type":"n8n-nodes-base.set","position":[1220,1200],"notesInFlow":true,"typeVersion":3.4,"notes":"Double-click to set!"},{"parameters":{"url":"=https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single","options":{}},"id":"176023af-cb2a-4fcd-b69b-a0f54b99d320","name":"Programming joke","type":"n8n-nodes-base.httpRequest","position":[1020,1200],"notesInFlow":true,"typeVersion":4.2,"notes":"Check out after running!"},{"parameters":{"content":"@[youtube](dKTcAfBfFLU)","height":400,"width":704,"color":7},"id":"c95a7595-85cb-4664-b934-e8492fc02a79","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-660,-200],"typeVersion":1},{"parameters":{"content":"@[youtube](LdE0KnhRtsY)","height":400,"width":720,"color":7},"id":"9f384b24-ccb6-415e-98ca-1ceb4180d772","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-640,1060],"typeVersion":1},{"parameters":{"content":"@[youtube](5CBUXMO_L2Y)","height":400,"width":720,"color":7},"id":"e1effc83-c21b-46bc-b206-07a4c65d4b84","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-660,420],"typeVersion":1},{"parameters":{"content":"# Step 1","height":544,"width":1936,"color":5},"id":"4bed6fa6-aede-4aa4-a992-05349464017f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-720,-300],"typeVersion":1},{"parameters":{"content":"# Step 2","height":560,"width":2144,"color":5},"id":"fae2f6fe-8365-4fa4-8703-a726ff0ae4d0","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-720,320],"typeVersion":1},{"parameters":{"content":"# Step 3","height":560,"width":2400,"color":5},"id":"25021624-43c2-4beb-a6dc-03d7e1a55608","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-720,940],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Click + to add Gmail","height":224,"width":214,"color":3},"id":"c0556ac6-c11a-40c3-acbe-cb8c013f79f2","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1420,1140],"typeVersion":1}],"connections":{"Quote":{"main":[[{"node":"Programming joke","type":"main","index":0}]]},"Results":{"main":[[{"node":"Connect your Gmail","type":"main","index":0}]]},"Get quote":{"main":[[{"node":"Results","type":"main","index":0}]]},"Programming joke":{"main":[[{"node":"Map the fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Quote","type":"main","index":0}]]},"Schedule me here":{"main":[[{"node":"Get quote","type":"main","index":0}]]},"1. Click 'Execute workflow’":{"main":[[{"node":"2. Get inspirational quote from the internet","type":"main","index":0}]]},"2. Get inspirational quote from the internet":{"main":[[{"node":"3. See the resutls","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d16b70e1-0af0-4fd8-b5b6-583d7b5908a3","triggerCount":0,"tags":[]}