notion-to-gcal-test-nuf6d1RlhaRcl0mh.json
{"createdAt":"2025-01-06T21:28:51.604Z","updatedAt":"2025-01-07T00:29:17.000Z","id":"nuf6d1RlhaRcl0mh","name":"notion to gcal test","active":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"d39a36b5-4703-4f81-9091-640e16704525","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","position":[120,3160],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"3c3a86e6-46db-4813-9f88-2a5a8eb9ad5d","name":"Add GCal ID","type":"n8n-nodes-base.notion","position":[520,3160],"typeVersion":2},{"parameters":{},"id":"082d1d28-df7c-40d6-acae-77204e6b2055","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-1040,3080],"typeVersion":1},{"parameters":{},"id":"9f0077ce-f5ab-425c-9d9c-81dbb40bbbc5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1560,2980],"typeVersion":1},{"parameters":{},"id":"53f42e1e-6fea-43f6-af0a-dfff49ec9d8f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1880,1440],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"26c62575-d2a2-4638-b60f-09f1c1d6d973","name":"Remove GCal ID2","type":"n8n-nodes-base.notion","position":[520,1900],"typeVersion":2},{"parameters":{},"id":"12087ed0-ab03-4287-a785-87180a8427ca","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-4360,5140],"typeVersion":1},{"parameters":{},"id":"5c1c1aaf-edf9-4109-a273-5a4eb0103400","name":"Does it have a date?","type":"n8n-nodes-base.if","position":[-1260,1460],"typeVersion":1},{"parameters":{},"id":"0c934ed3-80cb-4fed-bfcd-a4dca5005ab4","name":"Does it have a time?","type":"n8n-nodes-base.if","position":[-860,1360],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"595860ae-ee84-47ae-9099-abeb1e380ada","name":"Delete event1","type":"n8n-nodes-base.googleCalendar","position":[320,1900],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.Due.start }}","operation":"contains"}]}},"id":"94f365bd-ce2d-45fb-ad99-a3a1610ce32c","name":"Does it have a date?1","type":"n8n-nodes-base.if","position":[-1260,2980],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.Due.start }}"}]}},"id":"4d4bda70-00dc-43fe-8ac8-8cf0301a14ec","name":"Does it have a time?1","type":"n8n-nodes-base.if","position":[-1040,2920],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"90760c91-b224-433f-a040-343cd871a739","name":"Find Task","type":"n8n-nodes-base.notion","position":[-2940,5380],"typeVersion":2},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"afc76b40-4ac1-419d-8584-a1ed4646782a","name":"Remove GCal ID and Date","type":"n8n-nodes-base.notion","position":[-2700,5380],"typeVersion":2},{"parameters":{"pageId":{"__rl":true,"mode":"id","value":"","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"},"options":{}},"id":"ced7c8e6-ca06-4756-b46b-335278d09e3e","name":"Notion","type":"n8n-nodes-base.notion","position":[-5060,2180],"typeVersion":2.1,"credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"1b815974-2704-46a2-bca7-1d2efadd2fd5","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","position":[120,2800],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"e8cf94c2-7ca4-477b-8f08-19171b5b4e34","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","position":[120,2560],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"cGElfbKHBt1EwATd","name":"Google Calendar account"}}},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"bd6a972f-ee53-4ea5-9ab6-59b018842af1","name":"Add GCal ID3","type":"n8n-nodes-base.notion","position":[520,2560],"typeVersion":2},{"parameters":{},"id":"80fa4234-c9a3-47a7-bccd-84d7778edccd","name":"Does it have an end date?","type":"n8n-nodes-base.if","position":[-720,2700],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"d858cd6d-8e43-46bd-a282-07c6db0d2e7b","name":"Add GCal ID1","type":"n8n-nodes-base.notion","position":[520,2800],"typeVersion":2},{"parameters":{"options":{}},"id":"55eb371f-c517-4c95-af9b-0ad14478330e","name":"Loop","type":"n8n-nodes-base.splitInBatches","position":[-460,3160],"typeVersion":3},{"parameters":{"options":{}},"id":"6c714f0b-bb92-47c9-8c36-e9c995f6fb70","name":"Loop1","type":"n8n-nodes-base.splitInBatches","position":[-80,2800],"typeVersion":3},{"parameters":{"options":{}},"id":"e6ebe26a-c249-4067-908f-3b279935218e","name":"Loop2","type":"n8n-nodes-base.splitInBatches","position":[-80,2560],"typeVersion":3},{"parameters":{},"id":"63952eeb-7ef1-4922-a691-7794892ae537","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-2460,2140],"typeVersion":1},{"parameters":{"operation":"extractDate","date":"={{ $json.Due.start }}","options":{}},"id":"1e6a7344-3023-4775-a697-6bc3c71fddc6","name":"Creates defaultEndDate with 1h duration","type":"n8n-nodes-base.dateTime","position":[-2380,2600],"typeVersion":2},{"parameters":{},"id":"d284fb5d-b0eb-4550-83ee-d0f003c57da2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-5440,1940],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"f9f923dd-b888-4cf9-958d-230aad481499","name":"Delete event2","type":"n8n-nodes-base.googleCalendar","position":[520,680],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"2e4de4a7-27b2-4de1-bdb9-d8649c3bbf89","name":"Notion1","type":"n8n-nodes-base.notion","position":[-5060,2340],"typeVersion":2.1,"credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{},"id":"979969ab-1704-4271-b180-e57d3f9e9f35","name":"Merge","type":"n8n-nodes-base.merge","position":[-4760,2260],"typeVersion":2.1},{"parameters":{},"id":"98c062a4-decf-4704-8b2e-700cb6f14a75","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-4100,1880],"typeVersion":1},{"parameters":{},"id":"82ee9c51-ba74-4766-8131-94665318fd40","name":"Does it have an end date?1","type":"n8n-nodes-base.if","position":[-580,1160],"typeVersion":1},{"parameters":{},"id":"382d66b4-d610-4e08-85a1-8252b43a8305","name":"Does it have an end date?2","type":"n8n-nodes-base.if","position":[-720,3300],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"32ca5305-8f96-4465-91b9-e7f1da5090fc","name":"Google Calendar2","type":"n8n-nodes-base.googleCalendar","position":[120,3400],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"f85e7316-8366-4e98-957b-64b2545247de","name":"Add GCal ID2","type":"n8n-nodes-base.notion","position":[520,3400],"typeVersion":2},{"parameters":{},"id":"131b25b3-f866-443b-a83d-aa593f85fbb8","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[720,3420],"typeVersion":1},{"parameters":{"options":{}},"id":"246ba460-45f0-4b0d-8039-8d4ef06d6a12","name":"Loop5","type":"n8n-nodes-base.splitInBatches","position":[-80,3400],"typeVersion":3},{"parameters":{},"id":"ed02ee14-133f-44d5-9463-ab921d9fa38c","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","position":[720,3180],"typeVersion":1},{"parameters":{},"id":"ae0589a9-b14a-4a64-906a-ad6956590331","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","position":[720,2560],"typeVersion":1},{"parameters":{},"id":"f99fdcd7-4f09-454b-9c09-69070524a476","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","position":[720,2820],"typeVersion":1},{"parameters":{},"id":"91195c83-ec10-4cf7-aad3-4f7c2f6b48c8","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","position":[720,1640],"typeVersion":1},{"parameters":{},"id":"0c709459-d81c-46da-998e-45eab9c9f69e","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","position":[720,1440],"typeVersion":1},{"parameters":{},"id":"84b54ff9-451a-4c53-9041-16538460b28e","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","position":[720,680],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json['Google Calender ID'] }}","operation":"notContains","value2":"="}]}},"id":"847d4203-90af-4280-a225-7bc6c9370000","name":"GCal_ID exists in Notion?","type":"n8n-nodes-base.if","position":[-2080,2300],"typeVersion":1},{"parameters":{},"id":"3f9225c2-fd6e-4c03-a5d7-182edf1f2dc9","name":"Is the page deleted?","type":"n8n-nodes-base.if","position":[-1560,1440],"typeVersion":1},{"parameters":{},"id":"c2b6b0e9-a3e7-44d0-94e8-1271274c9f61","name":"Does it have an end date?3","type":"n8n-nodes-base.if","position":[-580,1460],"typeVersion":1},{"parameters":{},"id":"01cc5100-5265-4eb6-8d4f-ae9181cc2b87","name":"Sticky Note33","type":"n8n-nodes-base.stickyNote","position":[720,1900],"typeVersion":1},{"parameters":{"options":{}},"id":"ed505655-9902-4dfd-856a-ad47c783f8d1","name":"Add 1 day to end date","type":"n8n-nodes-base.dateTime","position":[-80,1440],"notesInFlow":true,"typeVersion":2,"notes":"Google Calendar and Notion handle end dates differently, when there's no time set.\n\nIf a date in Notion is from Nov-10 to Nov-12, in Google it will show \"Nov-10 at 00:00\" to \"Nov-12 at 00:00\".\nMeaning the event would end at the beggining of the day in Nov-12, not lasting all day.\n\nSo to make an event last all day in Nov-12 you have to make the end_date \"Nov-13 at 00:00\"."},{"parameters":{"options":{}},"id":"82b32110-945e-4a9f-9f4a-c9080aee8ba1","name":"Format date","type":"n8n-nodes-base.dateTime","position":[120,1440],"typeVersion":2},{"parameters":{"options":{}},"id":"83bf9380-3be2-4504-9ff5-73c2e96b853e","name":"Update to All Day event","type":"n8n-nodes-base.httpRequest","position":[320,1440],"typeVersion":4.1},{"parameters":{"options":{}},"id":"ecfcea64-aae7-48b6-a419-3ff5c7a509d0","name":"Update to All Day event2","type":"n8n-nodes-base.httpRequest","position":[320,1640],"typeVersion":4.1},{"parameters":{"options":{}},"id":"6112df93-4d9e-4615-96bc-baea3a61806b","name":"Add 1 day to end date1","type":"n8n-nodes-base.dateTime","position":[-260,3160],"notesInFlow":true,"typeVersion":2,"notes":"Google Calendar and Notion handle end dates differently, when there's no time set.\n\nIf a date in Notion is from Nov-10 to Nov-12, in Google it will show \"Nov-10 at 00:00\" to \"Nov-12 at 00:00\".\nMeaning the event would end at the beggining of the day in Nov-12, not lasting all day.\n\nSo to make an event last all day in Nov-12 you have to make the end_date \"Nov-13 at 00:00\"."},{"parameters":{"options":{}},"id":"04bd1ba7-7419-4f16-b0e7-401d5b8541b6","name":"Format date1","type":"n8n-nodes-base.dateTime","position":[-80,3160],"typeVersion":2},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"5303c3a3-dce9-4776-9561-02e947ab31f3","name":"Get future events + yesterday","type":"n8n-nodes-base.googleCalendar","position":[-5020,4060],"typeVersion":1.1},{"parameters":{},"id":"1e4d0e21-3b12-441e-878a-fc7a5f0340db","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-4120,1780],"typeVersion":1},{"parameters":{},"id":"efc2a114-713f-489c-9530-0dc51567dbfd","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-4100,3840],"typeVersion":1},{"parameters":{"options":{}},"id":"2d1dfce9-d213-4f65-9150-d6abc4a19dc6","name":"Calculate timeDifference between Google's updated_at  and our own updated_at fields","type":"n8n-nodes-base.dateTime","position":[-2460,4580],"typeVersion":2},{"parameters":{"options":{}},"id":"182d5c2f-b859-4131-9f2f-af79bba79bac","name":"Only events that were edited 2s after the last update","type":"n8n-nodes-base.filter","position":[-2260,4580],"notesInFlow":true,"typeVersion":2,"notes":"This prevents an infinite loop.\n\nWhen you edit your Notion page, our automation edits the Google event. This would activate the Google trigger again and again.\n\nUsing the field \"lastUpdatedByAutomation\" we can check if the update happened after our automation ran. Meaning the user was the one that edited the event."},{"parameters":{},"id":"1afc01c9-6bfe-44ce-896a-177d4067b0b0","name":"Does it have a time?2","type":"n8n-nodes-base.if","position":[-2040,4580],"typeVersion":1},{"parameters":{"options":{}},"id":"63908256-6e2e-4e2c-879d-5382df228d2c","name":"Subtract 1 day from end_date","type":"n8n-nodes-base.dateTime","position":[-1820,4680],"notesInFlow":true,"typeVersion":2,"notes":"Google Calendar and Notion handle end dates differently, when there's no time set.\n\nIf a date in Notion is from Nov-10 to Nov-12, in Google it will show \"Nov-10 at 00:00\" to \"Nov-12 at 00:00\".\n\nWhen you set an event in Google from Nov-12 to Nov-13, it sets the end date to \"Nov-14 at 00:00\" behind the scenes.\nMeaning the event would end at the beggining of Nov-14, lasting all day long during Nov-13.\n\nBut Notion considers Nov-12 to Nov-13 already as all day dates.\nSo Nov-14 in Google must be Nov-13 in Notion."},{"parameters":{"options":{}},"id":"56d8dde9-0fdc-43b0-bfd8-881ab07e3dbc","name":"Is it a new event?","type":"n8n-nodes-base.if","position":[-2720,4420],"typeVersion":2},{"parameters":{"options":{}},"id":"55ba352d-3087-4ea2-9b85-5d2236207dbf","name":"Format end_date","type":"n8n-nodes-base.dateTime","position":[-1620,4680],"typeVersion":2},{"parameters":{"options":{}},"id":"68580477-fc29-4ce8-9403-74efa32cd4ea","name":"Add extendedProperties to Google event2","type":"n8n-nodes-base.httpRequest","position":[520,1440],"typeVersion":4.1},{"parameters":{"options":{}},"id":"ff54e3ff-b1cf-4cbf-8fb8-d9af83af5da3","name":"Add extendedProperties to Google event3","type":"n8n-nodes-base.httpRequest","position":[520,1640],"typeVersion":4.1},{"parameters":{"options":{}},"id":"3715cb85-12a2-42df-a395-9763c18766e9","name":"Does it really have an end_date?","type":"n8n-nodes-base.if","position":[-1420,4680],"typeVersion":2},{"parameters":{},"id":"8b5cdae3-0013-420d-94b6-ba66489f17a9","name":"Does it have a time?3","type":"n8n-nodes-base.if","position":[-2480,4080],"typeVersion":1},{"parameters":{"options":{}},"id":"ae2d9d73-260e-4e33-8560-59ddc81eb5a5","name":"Subtract 1 day from end_date1","type":"n8n-nodes-base.dateTime","position":[-2260,4180],"notesInFlow":true,"typeVersion":2,"notes":"Google Calendar and Notion handle end dates differently, when there's no time set.\n\nIf a date in Notion is from Nov-10 to Nov-12, in Google it will show \"Nov-10 at 00:00\" to \"Nov-12 at 00:00\".\n\nWhen you set an event in Google from Nov-12 to Nov-13, it sets the end date to \"Nov-14 at 00:00\" behind the scenes.\nMeaning the event would end at the beggining of Nov-14, lasting all day long during Nov-13.\n\nBut Notion considers Nov-12 to Nov-13 already as all day dates.\nSo Nov-14 in Google must be Nov-13 in Notion."},{"parameters":{"options":{}},"id":"bd6da702-98b7-4ec3-8718-ac6a4381570f","name":"Format end_date1","type":"n8n-nodes-base.dateTime","position":[-2060,4180],"typeVersion":2},{"parameters":{"options":{}},"id":"a8566ac1-9ea8-4bac-97c4-216750f89ca5","name":"Does it really have an end_date?1","type":"n8n-nodes-base.if","position":[-1860,4180],"typeVersion":2},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"49d4f247-0cf4-4bc2-b52b-b5fbb74731f3","name":"Create page1","type":"n8n-nodes-base.notion","position":[-1640,4080],"typeVersion":2.2},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"49f7101e-f5e4-4de4-a4d6-bd733213d0d8","name":"Create page2","type":"n8n-nodes-base.notion","position":[-1640,4280],"typeVersion":2.2},{"parameters":{"options":{}},"id":"530c0bf3-e473-4072-a76c-b633cd43e5b6","name":"Add extendedProperties to Google event8","type":"n8n-nodes-base.httpRequest","position":[-2060,3980],"typeVersion":4.1},{"parameters":{"options":{}},"id":"7cbcf3f1-f793-4b68-9fba-732e5d2005fd","name":"Add extendedProperties to Google event9","type":"n8n-nodes-base.httpRequest","position":[-1460,4080],"typeVersion":4.1},{"parameters":{"options":{}},"id":"f6f3ec08-00a9-497a-ab00-2b4c81792337","name":"Add extendedProperties to Google event10","type":"n8n-nodes-base.httpRequest","position":[-1460,4280],"typeVersion":4.1},{"parameters":{"assignments":{"assignments":[{"id":"a0b5ca78-5c35-421b-ab24-1a5a85cd461a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"b947e6cb-7df4-4719-955b-233e2699c761","name":"Google Calender ID","value":"={{ $json['Google Calender ID'] }}","type":"string"},{"id":"91079691-2ec2-460a-a487-73ac571877da","name":"Task name","value":"={{ $json['Task name'] }}","type":"string"},{"id":"339eef63-ee89-47de-aae9-740c368d6907","name":"Due.start","value":"={{ $json.Due.start }}","type":"string"},{"id":"b0bcf22f-24a3-4b7f-91d3-4113b74a7147","name":"Due.end","value":"={{ $json.Due.end }}","type":"string"},{"id":"a61c9b83-a9ca-4478-b596-6428dd8f6aa0","name":"Project","value":"={{ $json.Project }}","type":"array"}]},"options":{}},"id":"7819ba18-b260-4c2b-8385-3a3e3ea41970","name":"Globals","type":"n8n-nodes-base.set","position":[-3480,2320],"typeVersion":3.4},{"parameters":{},"id":"b11d140e-c9fb-4fcc-955c-8cd937d02703","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-3620,1580],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"72314d7b-ea2a-47f5-9c3c-79862fb943e7","name":"Set the current database and calendar IDs","type":"n8n-nodes-base.code","position":[-3160,2320],"typeVersion":2},{"parameters":{},"id":"28eb6b9f-ac4d-4826-a756-bc354111be1a","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-3580,4220],"typeVersion":1},{"parameters":{"options":{}},"id":"8908e4e9-7d9c-4a7e-b0ef-9e536bccf512","name":"Globals1","type":"n8n-nodes-base.set","position":[-3480,4420],"typeVersion":3.4},{"parameters":{},"id":"0eb47649-d5b8-43e8-b2ee-9f2858369f13","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[-3580,5180],"typeVersion":1},{"parameters":{"options":{}},"id":"0b2c1826-35ab-45dd-a8da-7c9f3be94888","name":"Globals2","type":"n8n-nodes-base.set","position":[-3480,5380],"typeVersion":3.4},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"d7dce960-cb8e-45dd-92f5-bfd5a6cf6f31","name":"Set the current database and calendar IDs2","type":"n8n-nodes-base.code","position":[-3180,5380],"typeVersion":2},{"parameters":{},"id":"959502a7-e9a2-4da9-939d-bfe6d86519f0","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[-5120,3940],"typeVersion":1},{"parameters":{},"id":"78951a7e-8af6-4c32-80c1-d27e4fc89081","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[-4120,3940],"typeVersion":1},{"parameters":{},"id":"777b56d9-3dfd-4878-8a26-9fb79ca8692c","name":"Sticky Note34","type":"n8n-nodes-base.stickyNote","position":[-4080,4920],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"3734a666-039b-49f8-9666-3c7382e58c6d","name":"Event Updated","type":"n8n-nodes-base.googleCalendarTrigger","position":[-3920,4060],"typeVersion":1},{"parameters":{},"id":"536402f5-3d78-44ac-898c-a4d23f30825d","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-5380,2260],"typeVersion":1,"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"ad5c59d5-d657-4d71-a534-4cafd9ad7fd6","name":"Event Created","type":"n8n-nodes-base.googleCalendarTrigger","position":[-4080,4060],"typeVersion":1},{"parameters":{},"id":"1a478ac7-f289-4342-91b3-56041729fbd7","name":"Sticky Note35","type":"n8n-nodes-base.stickyNote","position":[-4340,4060],"typeVersion":1},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"bb2ed328-8747-4e3a-b562-115ce2fdca04","name":"Update page1 - continue on error","type":"n8n-nodes-base.notion","position":[-1200,4780],"typeVersion":2.2,"onError":"continueRegularOutput"},{"parameters":{},"id":"69efedd1-d14b-44d2-aee4-c880877a5462","name":"Sticky Note36","type":"n8n-nodes-base.stickyNote","position":[-1020,4600],"typeVersion":1},{"parameters":{"options":{}},"id":"3c9f4e47-7992-4b31-a0cb-f7040a5f79e1","name":"Find deleted pages1","type":"n8n-nodes-base.filter","position":[-2260,3020],"typeVersion":2},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"45fd6bf6-d0af-4e4a-b78a-8abf102f7b7b","name":"Delete event3","type":"n8n-nodes-base.googleCalendar","position":[-2080,3020],"typeVersion":1,"alwaysOutputData":false,"credentials":{"googleCalendarOAuth2Api":{"id":"cGElfbKHBt1EwATd","name":"Google Calendar account"}}},{"parameters":{},"id":"67458cbc-62b7-41db-ad27-2bc299d71ceb","name":"Sticky Note38","type":"n8n-nodes-base.stickyNote","position":[-4100,2900],"typeVersion":1},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"id":"90713163-b0e6-4726-89ef-8161e34dc437","name":"Get future events1","type":"n8n-nodes-base.googleCalendar","position":[-2800,3020],"typeVersion":1.1,"alwaysOutputData":false,"credentials":{"googleCalendarOAuth2Api":{"id":"cGElfbKHBt1EwATd","name":"Google Calendar account"}}},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"8054968b-3deb-41b3-b620-0f7e60842bc4","name":"Find related pages1","type":"n8n-nodes-base.notion","position":[-2440,3020],"typeVersion":2.2},{"parameters":{"options":{}},"id":"956ce96f-29ec-4d56-936f-ab5ca3750255","name":"extendedProperties exist?","type":"n8n-nodes-base.filter","position":[-2620,3020],"typeVersion":2},{"parameters":{},"id":"5872559d-1947-460f-83aa-dbb6a1ee3aaa","name":"Set the current database and calendar IDs1","type":"n8n-nodes-base.code","position":[-3180,4420],"typeVersion":2},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"5cf8cbcd-2283-4acb-a2c6-3e0b184d7edf","name":"Update page2 - continue on error","type":"n8n-nodes-base.notion","position":[-1820,4480],"typeVersion":2.2,"onError":"continueRegularOutput"},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"60e0c940-6e01-4e13-b188-4f660b68e693","name":"Update page - continue on error","type":"n8n-nodes-base.notion","position":[-1200,4600],"typeVersion":2.2,"onError":"continueRegularOutput"},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"id":"7aca2db5-3600-4a54-83b1-ae56b6531501","name":"Create page","type":"n8n-nodes-base.notion","position":[-2260,3980],"typeVersion":2.2},{"parameters":{"options":{}},"id":"0350548d-0617-4308-aba4-d0bea108a38f","name":"Set some fields","type":"n8n-nodes-base.set","position":[-2660,2300],"typeVersion":3.2},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"databaseId":{"__rl":true,"value":"6fc6fc19-ffdc-44da-bfa5-53c7068184e8","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/6fc6fc19ffdc44dabfa553c7068184e8"}},"id":"acc92604-32d6-4c1c-b9be-ad93275026cb","name":"Page Updated - Tasks","type":"n8n-nodes-base.notionTrigger","position":[-3820,2320],"typeVersion":1,"credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"e1204f0b-07e3-4d17-9910-def497a29ba2","name":"Event Updated1","type":"n8n-nodes-base.googleCalendarTrigger","position":[-3920,4260],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"01f61f16-8bfb-4b13-ae4e-8d09af0d9720","name":"Event Created1","type":"n8n-nodes-base.googleCalendarTrigger","position":[-4080,4260],"typeVersion":1},{"parameters":{},"id":"fb8ff412-abfe-4b02-9ea0-c21166fc2f39","name":"Sticky Note37","type":"n8n-nodes-base.stickyNote","position":[-4340,4260],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"4b6a650b-1fc4-49c3-a59d-8972de5cbbee","name":"Deleted - Tasks","type":"n8n-nodes-base.googleCalendarTrigger","position":[-4000,5060],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"451af502-fd20-4419-bf1b-12e60b45e1c4","name":"Deleted - Meetings","type":"n8n-nodes-base.googleCalendarTrigger","position":[-4000,5240],"typeVersion":1},{"parameters":{"options":{}},"id":"2bb5d42f-e2b7-4bf8-a3dd-63fd11a4f3fd","name":"Globals3","type":"n8n-nodes-base.set","position":[-3480,3020],"typeVersion":3.4},{"parameters":{"options":{}},"id":"f0187bca-30fc-4db4-8d6b-fcf324ae4043","name":"Split fields","type":"n8n-nodes-base.splitOut","position":[-3160,3020],"typeVersion":1},{"parameters":{"options":{}},"id":"220a6f25-633d-4c91-855d-83a3677c2cd8","name":"Only calendarId","type":"n8n-nodes-base.filter","position":[-2980,3020],"typeVersion":2},{"parameters":{},"id":"da2f0e39-0726-4fce-8a15-10345e5f7777","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","position":[-3580,2820],"typeVersion":1},{"parameters":{"rule":{"interval":[{}]}},"id":"bd69b036-cde5-49cf-8107-cd3654c78ea6","name":"Every 3min","type":"n8n-nodes-base.scheduleTrigger","position":[-3760,3020],"typeVersion":1.2},{"parameters":{"options":{}},"id":"61379b7f-2d13-4c82-8705-b3eefbf0bfaf","name":"Update dateTime event","type":"n8n-nodes-base.httpRequest","position":[320,1020],"typeVersion":4.1},{"parameters":{"options":{}},"id":"bcbc1b36-df5c-4866-8483-fa1a56338db4","name":"Add extendedProperties to Google event1","type":"n8n-nodes-base.httpRequest","position":[520,1200],"typeVersion":4.1},{"parameters":{"options":{}},"id":"0d748330-125c-4d36-a88e-5b9c60b3d499","name":"Add extendedProperties to Google event","type":"n8n-nodes-base.httpRequest","position":[520,1020],"typeVersion":4.1},{"parameters":{"options":{}},"id":"09284887-a3ea-4412-b756-d97f3126a14d","name":"Update dateTime event1","type":"n8n-nodes-base.httpRequest","position":[320,1200],"typeVersion":4.1},{"parameters":{},"id":"936c09c4-ec73-4618-b6bf-21112034d78a","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","position":[720,1220],"typeVersion":1},{"parameters":{},"id":"b784f5e4-87a1-4cce-ad83-d160ad989532","name":"Sticky Note28","type":"n8n-nodes-base.stickyNote","position":[720,1020],"typeVersion":1}],"connections":{"Loop":{"main":[[],[{"node":"Add 1 day to end date1","type":"main","index":0}]]},"Loop1":{"main":[[],[{"node":"Google Calendar3","type":"main","index":0}]]},"Loop2":{"main":[[],[{"node":"Google Calendar","type":"main","index":0}]]},"Loop5":{"main":[[],[{"node":"Google Calendar2","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Set the current database and calendar IDs","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Globals1":{"main":[[{"node":"Set the current database and calendar IDs1","type":"main","index":0}]]},"Globals2":{"main":[[{"node":"Set the current database and calendar IDs2","type":"main","index":0}]]},"Globals3":{"main":[[{"node":"Split fields","type":"main","index":0}]]},"Find Task":{"main":[[{"node":"Remove GCal ID and Date","type":"main","index":0}]]},"Every 3min":{"main":[[{"node":"Globals3","type":"main","index":0}]]},"Add GCal ID":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Create page":{"main":[[{"node":"Add extendedProperties to Google event8","type":"main","index":0}]]},"Format date":{"main":[[]]},"Add GCal ID1":{"main":[[{"node":"Loop1","type":"main","index":0}]]},"Add GCal ID2":{"main":[[{"node":"Loop5","type":"main","index":0}]]},"Add GCal ID3":{"main":[[{"node":"Loop2","type":"main","index":0}]]},"Create page1":{"main":[[{"node":"Add extendedProperties to Google event9","type":"main","index":0}]]},"Create page2":{"main":[[{"node":"Add extendedProperties to Google event10","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Split fields":{"main":[[{"node":"Only calendarId","type":"main","index":0}]]},"Delete event1":{"main":[[{"node":"Remove GCal ID2","type":"main","index":0}]]},"Delete event2":{"main":[[]]},"Event Created":{"main":[[]]},"Event Updated":{"main":[[]]},"Event Created1":{"main":[[]]},"Event Updated1":{"main":[[]]},"Deleted - Tasks":{"main":[[{"node":"Globals2","type":"main","index":0}]]},"Format end_date":{"main":[[{"node":"Does it really have an end_date?","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Add GCal ID3","type":"main","index":0}]]},"Only calendarId":{"main":[[{"node":"Get future events1","type":"main","index":0}]]},"Remove GCal ID2":{"main":[[]]},"Set some fields":{"main":[[{"node":"GCal_ID exists in Notion?","type":"main","index":0}]]},"Format end_date1":{"main":[[{"node":"Does it really have an end_date?1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Add GCal ID","type":"main","index":0}]]},"Google Calendar2":{"main":[[{"node":"Add GCal ID2","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Add GCal ID1","type":"main","index":0}]]},"Deleted - Meetings":{"main":[[{"node":"Globals2","type":"main","index":0}]]},"Get future events1":{"main":[[{"node":"extendedProperties exist?","type":"main","index":0}]]},"Is it a new event?":{"main":[[{"node":"Does it have a time?3","type":"main","index":0}],[{"node":"Calculate timeDifference between Google's updated_at  and our own updated_at fields","type":"main","index":0}]]},"Find deleted pages1":{"main":[[{"node":"Delete event3","type":"main","index":0}]]},"Find related pages1":{"main":[[{"node":"Find deleted pages1","type":"main","index":0}]]},"Does it have a date?":{"main":[[{"node":"Does it have a time?","type":"main","index":0}],[{"node":"Delete event1","type":"main","index":0}]]},"Does it have a time?":{"main":[[{"node":"Does it have an end date?1","type":"main","index":0}],[{"node":"Does it have an end date?3","type":"main","index":0}]]},"Is the page deleted?":{"main":[[{"node":"Delete event2","type":"main","index":0}],[{"node":"Does it have a date?","type":"main","index":0}]]},"Page Updated - Tasks":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Add 1 day to end date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Does it have a date?1":{"main":[[{"node":"Does it have a time?1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Does it have a time?1":{"main":[[{"node":"Does it have an end date?","type":"main","index":0}],[{"node":"Does it have an end date?2","type":"main","index":0}]]},"Does it have a time?2":{"main":[[{"node":"Update page2 - continue on error","type":"main","index":0}],[{"node":"Subtract 1 day from end_date","type":"main","index":0}]]},"Does it have a time?3":{"main":[[{"node":"Create page","type":"main","index":0}],[{"node":"Subtract 1 day from end_date1","type":"main","index":0}]]},"Add 1 day to end date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Update to All Day event":{"main":[[{"node":"Add extendedProperties to Google event2","type":"main","index":0}]]},"Update to All Day event2":{"main":[[{"node":"Add extendedProperties to Google event3","type":"main","index":0}]]},"Does it have an end date?":{"main":[[{"node":"Loop2","type":"main","index":0}],[{"node":"Loop1","type":"main","index":0}]]},"GCal_ID exists in Notion?":{"main":[[{"node":"Is the page deleted?","type":"main","index":0}],[{"node":"Does it have a date?1","type":"main","index":0}]]},"extendedProperties exist?":{"main":[[{"node":"Find related pages1","type":"main","index":0}]]},"Does it have an end date?1":{"main":[[],[]]},"Does it have an end date?2":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"Loop5","type":"main","index":0}]]},"Does it have an end date?3":{"main":[[{"node":"Add 1 day to end date","type":"main","index":0}],[]]},"Subtract 1 day from end_date":{"main":[[{"node":"Format end_date","type":"main","index":0}]]},"Subtract 1 day from end_date1":{"main":[[{"node":"Format end_date1","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Notion1","type":"main","index":0},{"node":"Notion","type":"main","index":0}]]},"Does it really have an end_date?":{"main":[[{"node":"Update page - continue on error","type":"main","index":0}],[{"node":"Update page1 - continue on error","type":"main","index":0}]]},"Does it really have an end_date?1":{"main":[[{"node":"Create page1","type":"main","index":0}],[{"node":"Create page2","type":"main","index":0}]]},"Creates defaultEndDate with 1h duration":{"main":[[]]},"Set the current database and calendar IDs":{"main":[[{"node":"Set some fields","type":"main","index":0}]]},"Set the current database and calendar IDs1":{"main":[[{"node":"Is it a new event?","type":"main","index":0}]]},"Set the current database and calendar IDs2":{"main":[[{"node":"Find Task","type":"main","index":0}]]},"Only events that were edited 2s after the last update":{"main":[[{"node":"Does it have a time?2","type":"main","index":0}]]},"Calculate timeDifference between Google's updated_at  and our own updated_at fields":{"main":[[{"node":"Only events that were edited 2s after the last update","type":"main","index":0}]]},"Update dateTime event":{"main":[[{"node":"Add extendedProperties to Google event","type":"main","index":0}]]},"Update dateTime event1":{"main":[[{"node":"Add extendedProperties to Google event1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5412808f-4344-4e1f-bfe8-67c1746d95e7","triggerCount":0,"tags":[]}