notion-to-gcal-UaVKDE8tusxD2mYJ.json
{"createdAt":"2025-01-06T20:31:42.313Z","updatedAt":"2025-01-07T16:43:08.000Z","id":"UaVKDE8tusxD2mYJ","name":"Notion to GCal","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"databaseId":{"__rl":true,"value":"6fc6fc19-ffdc-44da-bfa5-53c7068184e8","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/6fc6fc19ffdc44dabfa553c7068184e8"}},"name":"Notion on new event","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[460,860],"id":"349777b7-60c9-457f-a935-ecfcd78f9f53","credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"calendar":{"__rl":true,"value":"69dca3c69f413407e8ea0236d2851e6ead29f01de275f924c295b51260c98be8@group.calendar.google.com","mode":"list","cachedResultName":"Notion"},"start":"={{ $json.property_due.start }}","end":"2025-01-06T00:00:00","additionalFields":{"summary":"={{ $json.name }}"}},"name":"Google Calendar create event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[900,860],"id":"62f460b0-9cc5-41a0-b5aa-4e2bb62b8aa2","credentials":{"googleCalendarOAuth2Api":{"id":"cGElfbKHBt1EwATd","name":"Google Calendar account"}}},{"parameters":{"content":"## Create Event Flow","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,860],"id":"b028dbad-2872-4129-8bfd-f2aae93bc6dd","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"6fc6fc19-ffdc-44da-bfa5-53c7068184e8","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/6fc6fc19ffdc44dabfa553c7068184e8"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[460,1100],"id":"f54b9e0a-3c7f-4f0e-af9d-9a0a036b54e1","name":"Notion on updated event","credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[680,1100],"id":"b2470315-1251-4795-8c12-133d726d3e84","name":"Notion get page update","credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[680,860],"id":"5398fd9a-41a6-498d-9c7e-bcbf69c8f007","name":"Notion get page create","credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"69dca3c69f413407e8ea0236d2851e6ead29f01de275f924c295b51260c98be8@group.calendar.google.com","mode":"list","cachedResultName":"Notion"},"eventId":"={{ $json.property_google_calender_id }}","updateFields":{"summary":"={{ $json.name }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[920,1100],"id":"c2cf9d57-4fd3-4ca0-8361-e1b97dba3fe6","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"cGElfbKHBt1EwATd","name":"Google Calendar account"}}},{"parameters":{"content":"## Update Event Flow","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,1120],"id":"3a26f964-a556-4f87-a36f-d59dec9c7e1a","name":"Sticky Note1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion get page create').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Google Calender ID|rich_text","textContent":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1160,860],"id":"a7b7263a-1757-4515-abf0-814a341e5e88","name":"Notion add gcal id to event","credentials":{"notionApi":{"id":"GJ8mgtcIE6WfPcWx","name":"Notion account"}}}],"connections":{"Notion on new event":{"main":[[{"node":"Notion get page create","type":"main","index":0}]]},"Google Calendar create event":{"main":[[{"node":"Notion add gcal id to event","type":"main","index":0}]]},"Notion get page create":{"main":[[{"node":"Google Calendar create event","type":"main","index":0}]]},"Notion get page update":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Notion on updated event":{"main":[[{"node":"Notion get page update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion on updated event":{"lastTimeChecked":"2025-11-21T21:32:00.000Z","possibleDuplicates":["1e4a226e-0077-8005-80a6-e7141959e397","1e4a226e-0077-80b4-9f4a-e84ec0012b1b"]},"node:Notion on new event":{"lastTimeChecked":"2025-11-21T21:32:00.000Z","possibleDuplicates":["1e4a226e-0077-80b4-9f4a-e84ec0012b1b"]},"node:Notion Trigger":{"lastTimeChecked":"2025-01-06T23:41:00.000Z"}},"meta":null,"pinData":{},"versionId":"8a7bfc7b-b18a-4d80-8ca1-80dd2b923954","triggerCount":2,"tags":[{"createdAt":"2025-01-06T21:13:40.159Z","updatedAt":"2025-01-06T21:13:40.159Z","id":"HJ2zI8k6eg879CIm","name":"Google Calender"},{"createdAt":"2025-01-06T21:13:31.120Z","updatedAt":"2025-01-06T21:13:31.120Z","id":"RqpDbx0kvsu7WugR","name":"notion"}]}