stock-portfolio-JmJ4lmN4L5YOtU7Q.json
{"createdAt":"2025-04-03T14:02:22.090Z","updatedAt":"2025-04-03T14:09:17.000Z","id":"JmJ4lmN4L5YOtU7Q","name":"Stock portfolio","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"watchFolder":true,"folderId":{"__rl":true,"mode":"id","value":"2D96E50BD60B2B58%2115362"},"options":{}},"id":"7391e571-4de5-49b5-9d46-e43c549c76a4","name":"Triggers if new file in watched folder","type":"n8n-nodes-base.microsoftOneDriveTrigger","position":[-1160,380],"typeVersion":1},{"parameters":{"errorMessage":"The file is not a csv"},"id":"0aecd479-232f-4b8a-bd6a-11587cdee86a","name":"Not CSV","type":"n8n-nodes-base.stopAndError","position":[-240,500],"typeVersion":1},{"parameters":{"options":{}},"id":"38b6f8c1-cf6d-4103-b25c-49ddd40a6711","name":"Extracts data from csv","type":"n8n-nodes-base.extractFromFile","position":[-240,260],"typeVersion":1},{"parameters":{"operation":"delete","fileId":"={{ $('Downloads the new file').item.json.id }}"},"id":"ad9b016d-f4e8-4642-86bf-73b6421e39b9","name":"Microsoft OneDrive2","type":"n8n-nodes-base.microsoftOneDrive","position":[540,260],"typeVersion":1,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"content":"# 📂 Automated OneDrive-to-Excel Data Sync with n8n\n\nEffortlessly manage your data with this n8n workflow that automatically monitors a OneDrive folder for new CSV uploads, processes the data, and updates your Excel sheet in real-time.\n\n### 🔄 How It Works\n- **Real-Time Monitoring**: Every minute, the workflow checks for new CSV files in your OneDrive folder.\n- **Data Processing & Cleaning**: Upon detection, it downloads the file, removes irrelevant headers, and formats the data for Excel.\n- **Automatic Updates**: The cleaned data is mapped to your Excel sheet, updating only new or changed entries.\n- **Cleanup**: After updating, the CSV file is deleted, keeping your folder organized.\n\nIdeal for automating portfolio management, inventory tracking, or any workflow needing seamless data syncing between OneDrive and Excel. Set it up, and let your data handle itself!\n","height":502.8225806451611,"width":507.2258064516131,"color":3},"id":"0ee3b165-2e29-483b-8bdf-9b7b56014efc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1340,-160],"typeVersion":1},{"parameters":{"jsCode":"// Get all input data\nconst items = $input.all();\n\n// Remove the first item (which is the irrelevant line)\n// Ensure that we have more than one item to avoid errors\nif (items.length > 1) {\n    return items.slice(1); // Return all items except the first one\n} else {\n    return items; // Return the original items if there's only one item\n}\n"},"id":"460f6b20-430f-475e-b55b-1def7560aaf4","name":"Cleans the output","type":"n8n-nodes-base.code","position":[-20,260],"notesInFlow":false,"typeVersion":2},{"parameters":{"content":"### Code Explanation\n\nThis JavaScript code snippet is part of a data-processing workflow.\nThe code:\n\nGets all input data.\nChecks if there’s more than one item.\nIf so, it removes the first item (usually a header) and returns the rest.\nIf not, it returns the original data as-is.","height":412.7089638732373,"width":269.9227895272578},"id":"3a88d13b-378f-4653-ae69-05b48197a459","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-100,-180],"typeVersion":1},{"parameters":{},"id":"b4757aef-5380-4041-9772-4f80008b15b2","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[780,280],"typeVersion":1},{"parameters":{"content":"## Explanation \n\nEven though it exectutes correctly, the  Delete Node outputs an error of a missing item. therefore I put a \"Do nothing Node\"","height":321.9023514071676,"width":183.09709642798296},"id":"284aac14-627a-40a3-8629-c3e607920136","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[740,-80],"typeVersion":1},{"parameters":{"resource":"table","workbook":{"__rl":true,"mode":"list","value":"2D96E50BD60B2B58!15370","cachedResultUrl":"https://1drv.ms/x/s!AFgrC9YL5ZYt-Ao","cachedResultName":"My_investandearnings3"},"worksheet":{"__rl":true,"mode":"list","value":"{08628863-6D0A-3B40-996C-B27E26CCFD8E}","cachedResultUrl":"https://onedrive.live.com/edit.aspx?resid=2D96E50BD60B2B58!15370&activeCell=Portfolio!A1","cachedResultName":"Portfolio"},"table":{"__rl":true,"mode":"list","value":"{CE1FB867-1EB3-EE42-B7F5-3470275BDE2B}","cachedResultUrl":"https://onedrive.live.com/edit.aspx?resid=2D96E50BD60B2B58!15370&activeCell=Portfolio!H1:H8","cachedResultName":"Table4"},"fieldsUi":{"values":[{"column":"Last updated","fieldValue":"={{ new Date().toLocaleString('en-GB', { timeZone: 'Etc/GMT-1', hour12: false }) }}"}]},"options":{}},"id":"1e679e2b-5914-46ae-b914-6567d5faa30d","name":"Logs the update on sheet","type":"n8n-nodes-base.microsoftExcel","position":[-980,380],"typeVersion":2.1},{"parameters":{"resource":"folder","folderId":"2D96E50BD60B2B58%2115362"},"id":"47316ad2-a134-4b8c-a59b-2a1a7bb78f6d","name":"Gets the new file infos","type":"n8n-nodes-base.microsoftOneDrive","position":[-800,380],"typeVersion":1},{"parameters":{"operation":"download","fileId":"={{ $json.id }}"},"id":"245da7d2-11be-4451-9b8e-260afc143831","name":"Downloads the new file","type":"n8n-nodes-base.microsoftOneDrive","position":[-600,380],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b4c5c8b8-7c02-435b-b9a8-8006ad173656","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.name }}","rightValue":"csv"}]},"options":{}},"id":"fe74dc78-b93d-4b05-aeed-5cb01ae47039","name":"Checks if it's CSV format","type":"n8n-nodes-base.if","position":[-420,380],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5389492c-4352-451d-a4f2-73006a73f16b","name":"Ticker/ISIN","type":"string","value":"={{ $json['Ticker/ISIN'] }}"},{"id":"df10d62b-8f55-45a9-bffb-b3c09b184111","name":"Quantité","type":"number","value":"={{ $json['Quantité'] }}"},{"id":"ed70855d-2a24-4df9-86fd-c1dd3e26e774","name":"Montant en EUR","type":"number","value":"={{ parseFloat($json[\"Montant en EUR\"].replace(\",\", \".\")) }}"},{"id":"02aa653e-d0e5-42d8-acdb-dd151c857f29","name":"Produit","type":"string","value":"={{ $json.Produit }}"},{"id":"e75b1c9a-2807-4bb9-b080-1d97323b4d69","name":"Clôture","type":"number","value":"={{ parseFloat($json[\"Clôture\"].replace(\",\", \".\")) }}"},{"id":"2cffba9a-64b5-497a-8b36-93c8705e389a","name":"Devise","type":"string","value":"={{ $json.Devise }}"}]},"options":{}},"id":"b6fc21f3-22c5-4349-81ab-741036a8f963","name":"Prepares the fields to put in the excel table","type":"n8n-nodes-base.set","position":[180,260],"typeVersion":3.4},{"parameters":{"resource":"worksheet","operation":"upsert","workbook":{"__rl":true,"mode":"list","value":"2D96E50BD60B2B58!15370","cachedResultUrl":"https://1drv.ms/x/s!AFgrC9YL5ZYt-Ao","cachedResultName":"My_investandearnings3"},"worksheet":{"__rl":true,"mode":"list","value":"{08628863-6D0A-3B40-996C-B27E26CCFD8E}","cachedResultUrl":"https://onedrive.live.com/edit.aspx?resid=2D96E50BD60B2B58!15370&activeCell=Portfolio!A1","cachedResultName":"Portfolio"},"dataMode":"autoMap","columnToMatchOn":"Ticker/ISIN","options":{}},"id":"0bc6a605-2c3d-443b-9f60-cb121403888f","name":"Updates the excel table","type":"n8n-nodes-base.microsoftExcel","position":[360,260],"typeVersion":2.1}],"connections":{"Cleans the output":{"main":[[{"node":"Prepares the fields to put in the excel table","type":"main","index":0}]]},"Microsoft OneDrive2":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Downloads the new file":{"main":[[{"node":"Checks if it's CSV format","type":"main","index":0}]]},"Extracts data from csv":{"main":[[{"node":"Cleans the output","type":"main","index":0}]]},"Gets the new file infos":{"main":[[{"node":"Downloads the new file","type":"main","index":0}]]},"Updates the excel table":{"main":[[{"node":"Microsoft OneDrive2","type":"main","index":0}]]},"Logs the update on sheet":{"main":[[{"node":"Gets the new file infos","type":"main","index":0}]]},"Checks if it's CSV format":{"main":[[{"node":"Extracts data from csv","type":"main","index":0}],[{"node":"Not CSV","type":"main","index":0}]]},"Triggers if new file in watched folder":{"main":[[{"node":"Logs the update on sheet","type":"main","index":0}]]},"Prepares the fields to put in the excel table":{"main":[[{"node":"Updates the excel table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"574f55b1-eff3-450b-b294-d18b1628fef8","triggerCount":0,"tags":[]}