supabase-rag-L6dxP1MlBNMsAJGx.json
{"createdAt":"2025-01-07T17:36:09.746Z","updatedAt":"2025-01-09T02:48:47.000Z","id":"L6dxP1MlBNMsAJGx","name":"Supabase RAG","active":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"776b3c41-dbf9-475e-844b-80cb8c3f05b0","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[540,840]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"7b2270cb-6e3f-4505-83cd-c3a6b0680952","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[180,120]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"d91ead71-cc57-4cbf-aa17-9d5122919dde","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"cda415de-a92a-4e35-8daf-f9d8761558e6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,540]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"bf58c0c5-7016-4a78-9159-f615f8d99056","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-120,720],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileCreated","options":{}},"id":"5a7b1090-2875-4439-804a-fb51ce4ce33b","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,620]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileUpdated","options":{}},"id":"1e59d61e-4951-41e3-983f-eed8fecd69ef","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,840]},{"parameters":{"operation":"text","options":{}},"id":"ba8b615b-788f-49b3-9fae-449354cc9f50","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[140,720],"alwaysOutputData":true},{"parameters":{},"id":"a1b59d56-4856-4207-a895-8db60b16f093","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-280,360],"notesInFlow":false},{"parameters":{"options":{}},"id":"4c606429-2832-48af-8875-9ca558faa2e4","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[620,1000]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"5056e304-60f4-4c1d-a676-d72cc5b49715","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-420,720],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"05f3cd33-99cd-4821-b033-17161e2b5cbf","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,720]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"b916cd65-2c6a-4048-b4f4-617470e342e4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,60]},{"parameters":{"public":true,"options":{}},"id":"98533115-c72e-4439-bd1e-58e2353f6e36","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,140],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"c76a8582-ed9e-4574-8188-4837e947b0b9","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-320,140]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"14fb1bc7-6a50-4954-99be-2b3d176476ff","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[60,280]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"9a5921c9-52de-4f01-8665-b65bd2ef2030","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[420,620]},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[140,400],"id":"5a6aee31-d95d-44cd-baa2-0c6e031edd53","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[320,340],"id":"5748a799-8e3f-474b-8e25-6208a9e71806","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-420,380],"id":"ba955045-c8ad-4f66-8d3f-d64d6b5eeeea","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[380,820],"id":"54d5c2ca-1673-47f3-aeb2-071db9935226","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"1C6VHZLbnobuw68n","name":"Ollama account"}}}],"connections":{"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8b865747-53db-468a-aed0-02a4f29cd395","triggerCount":0,"tags":[{"createdAt":"2025-01-07T17:35:09.191Z","updatedAt":"2025-01-07T17:35:09.191Z","id":"2HxHzZ7viWz3c99p","name":"test"}]}